@media screen and (min-width: 1800px) {
    .MenuBandContent {
        justify-content: space-around;
    }

    .MenuBand .subTitle {
        font-size: 200px;
    }

    .MenuBandContent .MenuBandBut {
        transition: 0.4s;
        margin-bottom: 40px;
        width: max-content;
        border-radius: 80px;
        font-size: 100px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .Discord {
        position: relative;
        transition: 0.4s;
        background-size: 720px;
        top: 0px;
        height: 160px;
        width: 520px;
        cursor: url(images/Discord.png), not-allowed;
    }



    .Plugins {
        height: max-content;
        width: 800px;
    }

    #PluginsTitle {
        font-size: 80px;
        margin-bottom: 40px;
    }

    .Plugins1All{
        font-size: 40px;
    }

    .Plugins2All {
        font-size: 40px;
    }

    .PluginsBut {
        font-size: 40px;
    }

    #Plugin1 {
        position: relative;
        bottom: 20px;
    }

    #Plugin2 {
        position: relative;
        bottom: 10px;
        right: 20px;
    }

    .Plugins1All > #Plugin1Desc{
        color: white;
        position: relative;
        right: 20px;
        top: -10px;
    }

    .Plugins2All > #Plugin2Desc{
        color: white;
        position: relative;
        right: 100px;
        top: 20px;
    }

    .Mods {
        height: max-content;
        width: 600px;
        position: relative;
        bottom: 50px;
    }

    #ModsTitle {
        font-size: 80px;
    }

    .Mod1All{
        font-size: 40px;
    }

    .ModBut {
        font-size: 40px;
    }

    #Mod1 {
        position: relative;
        bottom: 10px;
        right: 20px;
    }

    .Mod1All > #Mod1Desc{
        color: white;
        position: relative;
        right: 40px;
        top: 0;
    }
}
