@media screen and (max-width: 600px) {
    .MenuBandContent {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .MenuBandContent .MenuBandBut {
        transition: 0.4s;
        margin-bottom: 20px;
        width: max-content;
        font-size: 80%;
    }

    .Discord {
        transition: 0.4s;
        background-size: 150px;
        height: 30px;
        width: 110px;
        cursor: url(images/Discord.png), not-allowed;
    }
}
