@media screen and (max-width: 600px) {

    .MenuBand{
        width: auto;
    }

    .MenuBandContent {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .MenuBand .subTitle {
        font-size: 20px;
    }

    .MenuBandContent .MenuBandBut {
        transition: 0.4s;
        margin-bottom: 20px;
        width: max-content;
        padding: 10px;
        font-size: 80%;
    }

    .MenuBandContent #ModBut{
        margin-bottom: 10px;
    }

    .Discord {
        transition: 0.4s;
        background-size: 150px;
        height: 20px;
        width: 110px;
        cursor: url(images/Discord.png), not-allowed;
    }

    .SiteContent {
        flex-direction: column;
        align-items: center;
        position: relative;
        right: 50px;
    }

    .Plugins {
        height: max-content;
        width: 300px;
        margin-right: 4px;
    }

    #PluginsTitle {
        position: relative;
        font-size: 20px;
    }

    .Plugins1All{
        font-size: 12px;
    }

    .Plugins2All {
        font-size: 12px;
        position: relative;
    }

    .PluginsBut {
        font-size: 12px;
    }

    #Plugin1 {
        position: relative;
        bottom: 10px;
        right: 35px;
    }

    #Plugin2 {
        position: relative;
        bottom: 10px;
        right: 40px;
    }

    .Plugins1All > #Plugin1Desc{
        color: white;
        position: relative;
        right: 20px;
        top: 0;
    }

    .Plugins2All > #Plugin2Desc{
        color: white;
        position: relative;
        right: 40px;
        top: 0;
    }



    .Mods {
        height: max-content;
        width: 240px;
        position: relative;
        top: 50px;
        left: -10px;
    }

    #ModsTitle {
        font-size: 20px;
    }

    .Mod1All{
        font-size: 15px;
    }

    .ModBut {
        font-size: 15px;
    }

    #Mod1 {
        position: relative;
        bottom: 10px;
        right: 20px;
    }

    .Mod1All > #Mod1Desc{
        color: white;
        position: relative;
        right: 30px;
        top: 0;
    }
}
