body {
    background: url("images/Background.png") no-repeat center center fixed;
    background-size: cover;
    height: auto;
    overflow-y: auto;
}

.subTitle {

    position: relative;
    font-size: 30px;
    width: auto;
    height: auto;
    color: red;
    font-family: "Comic Sans MS", cursive, sans-serif;
    transition: color 0.5s;
}

.subTitle:hover {
    color: blue;
}

.MenuBand {
    display: flex;
    background: rgba(0, 0, 0, 0.18);
    justify-content: space-around;
    padding: 10px;
}

.menubandV {
    display: flex;
    background: rgba(0, 0, 0, 0.18);
    justify-content: space-evenly;
    padding: 10px;
    text-decoration: none;
    color: white;
}

.Mods {

    background: rgba(0, 0, 0, 0.18);
    padding: 10px;
    text-decoration: none;
    position: relative;
    top: 1000px;
    color: white;
}

.Plugins {

    background: rgba(0, 0, 0, 0.18);
    padding: 10px;
    text-decoration: none;
    position: relative;
    top: 2000px;
    color: white;
}
