body {
    background: url("images/Background.png") no-repeat center center fixed;
    background-size: cover;
    height: auto;
    overflow-y: auto;
}

.subTitle {
    position: relative;
    font-size: 30px;
    width: auto;
    height: auto;
    color: red;
    font-family: "Comic Sans MS", cursive, sans-serif;
    transition: color 0.5s;
}

.subTitle:hover {
    color: blue;
}

.MenuBand {
    display: flex;
    background: rgba(0, 0, 0, 0.18);
    justify-content: space-around;
    padding: 10px;
}

.menubandV {
    display: flex;
    background: rgba(0, 0, 0, 0.18);
    justify-content: space-evenly;
    padding: 10px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    transition: all linear 0.2s;
    background: linear-gradient(to bottom left, rgba(0, 255, 187, 0.28) 0%, rgba(0, 255, 4, 0.22) 100%);
}

.menubandV:hover {
    transform: scale(1.1);
    color: black;
    background: linear-gradient(to bottom left, rgba(0, 255, 187, 0.92) 0%, rgba(0, 255, 4, 0.92) 100%);
}

.menubandV:active {
    transition: 0.2s;
    transform: scale(0.9);
    color: black;
    background: linear-gradient(to bottom left, rgba(255, 0, 0, 0.57) 0%, rgba(0, 255, 4, 0.49) 100%);
}

.Mods {
    background: linear-gradient(to bottom left, rgba(15, 16, 16, 0.5) 0%, rgba(9, 47, 10, 0.49) 100%);
    width: 400px;
    position: relative;
    top: 100px;
    left: 100px;
    height: 200px;
    border-radius: 20px;
}

.Mods #ModsTitle {
    font-size: 30px;
    color: orange;
    font-family: "Comic Sans MS", cursive, sans-serif;
    position: relative;
    left: 10px;
}


.Mod1All {
    display: flex;
    justify-content: left;
    position: relative;
    top: 20px;
}


.ModBut {
    color: white;
    text-decoration: none;
    background: linear-gradient(to bottom left, rgba(0, 255, 187, 0.5) 0%, rgba(0, 255, 4, 0.5) 100%);
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: max-content;
    border-radius: 10px;
    position: relative;
    left: 30px;
    transition: 0.4s;

}

.ModBut:hover {
    color: black;
    background: linear-gradient(to bottom left, rgba(0, 255, 187, 0.92) 0%, rgba(0, 255, 4, 0.92) 100%);
    transform: scale(1.1);
}

.Mod1All #Mod1Desc {
    color: white;
    font-size: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    width: 200px;
    position: relative;
    left: 40px;
}


.Plugins {

    background: rgba(0, 0, 0, 0.18);
    padding: 10px;
    text-decoration: none;
    position: relative;
    top: 2000px;
    color: white;
}


.Plugins {
    background: linear-gradient(to bottom left, rgba(15, 16, 16, 0.5) 0%, rgba(9, 47, 10, 0.49) 100%);
    width: 400px;
    position: relative;
    top: -100px;
    left: 600px;
    height: 200px;
    border-radius: 20px;
}

.Plugins #PluginsTitle {
    font-size: 30px;
    color: orange;
    font-family: "Comic Sans MS", cursive, sans-serif;
    position: relative;
    left: 10px;
}

.PluginsBut{
    color: white;
    text-decoration: none;
    background: linear-gradient(to bottom left, rgba(0, 255, 187, 0.5) 0%, rgba(0, 255, 4, 0.5) 100%);
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: max-content;
    border-radius: 10px;
    position: relative;
    left: 20px;
    transition: 0.4s;
}

.PluginsBut:hover {
    color: black;
    background: linear-gradient(to bottom left, rgba(0, 255, 187, 0.92) 0%, rgba(0, 255, 4, 0.92) 100%);
    transform: scale(1.1);
}

.Plugins1All {
    display: flex;
    justify-content: left;
    position: relative;
    top: 20px;
}

.Plugins1All #Plugin1Desc {
    color: white;
    font-size: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    width: 300px;
    position: relative;
    left: 40px;
}

.Plugins2All {
    display: flex;
    justify-content: left;
    position: relative;
    top: 30px;
}

.Plugins2All #Plugin2Desc {
    color: white;
    font-size: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    width: auto;
    position: relative;
    left: 30px;
    top: 10px;
}





html {
    scroll-behavior: smooth;
}
