html{
    scroll-behavior: smooth ;
}

body {
    background: url("images/Background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    margin: 0;
    padding: 0;
}



.MenuBand {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.38);
    padding-bottom: 20px;
}

.MenuBand .subTitle {
    font-size: 40px;
    color: orange;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    margin-bottom: 20px;
}

.MenuBandContent > .MenuBandBut {
    text-decoration: none;
    background: linear-gradient(to bottom, rgba(25, 246, 0, 0.45) 0%, rgba(0, 255, 187, 0.45) 100%);
    color: white;
    padding: 20px;
    border-radius: 40px;
    font-size: 40px;
    transition: 0.4s;
}


.MenuBandBut:hover {
    background: linear-gradient(to bottom, rgba(25, 246, 0, 0.78) 0%, rgba(0, 255, 187, 0.79) 100%);
    color: rgba(0, 0, 0, 0.87);
    padding: 20px;
    border-radius: 40px;
    transform: scale(1.1);
    transition: 0.5s;

}

.MenuBandBut:active {
    background: linear-gradient(to bottom, rgba(25, 246, 0, 0.78) 0%, rgba(0, 255, 187, 0.79) 100%);
    color: rgba(0, 0, 0, 0.87);
    padding: 20px;
    border-radius: 40px;
    transform: scale(0.9);
    transition: 0.5s;
}

.Minecraft{
    cursor: url(images/Minecraft.png), pointer;);
}

.Discord {
    background: url("images/DiscordBut.png") no-repeat center;
    background-size: 300px;
    width: 220px;
    cursor: url(images/Discord.png), auto;
    color: transparent;
    transition: 0.4s;

}

.Discord:hover {
    transform: scale(1.1);
}

.Discord:active {
    transform: scale(0.9);
}

.MenuBandContent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
